@charset "UTF-8";
/*-- MIXINS --*/
/*-- FUNCTIONS --*/
/*-- Queries --*/
/* 560px/16px = 35em */
/*640px/16px = 38.75em*/
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, .required, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-family: Helvetica, Arial, sans-serif; font: inherit; vertical-align: baseline; text-align: center; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, iframe, object { display: block; }

/*
body {
	// Percentual number ( 26 / 16 ) 
	// Desired line-heigh with type-size base
	line-height: 1.625;
}
*/
ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*-- FONTS --*/
/* Font stack options FROM HTML5 BOILERPLATE
	The following represents a list of font stacks, as recommended by Nathan Ford in
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
	I've added inverted commas around the relevant family names to ensure compatibility.
	p = balanced for paragraphs or body copy
	t = balanced for headlines or titles
	- - - -
Arial, "Helvetica Neue", Helvetica, sans-serif - p, t
Baskerville, "Times New Roman", Times, serif - p
Baskerville, "Times, Times New Roman", serif - t
Cambria, Georgia, Times, "Times New Roman", serif - p, t
"Century Gothic", "Apple Gothic", sans-serif - p, t
Consolas, "Lucida Console", Monaco, monospace - p, t
"Copperplate Light", "Copperplate Gothic Light", serif - p, t
"Courier New", Courier, monospace - p, t
"Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif - p, t
Futura, "Century Gothic", "Apple Gothic", sans-serif - p, t
Garamond, "Hoefler Text", "Times New Roman", Times, serif - p
Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif - t
Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif - p
Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - t
Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif - p
Georgia, Times, "Times New Roman", serif - t
GillSans, Calibri, Trebuchet, sans-serif - p
GillSans, Trebuchet, Calibri, sans-serif - t
"Helvetica Neue", Arial, Helvetica, sans-serif - p
Helvetica, "Helvetica Neue", Arial, sans-serif - t
Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif - p, t
"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - p, t
Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif - p
Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif - t
Tahoma, Geneva, Verdana - p
Tahoma, Verdana, Geneva - t
Times, "Times New Roman", Georgia, serif - p, t
Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif - p
Trebuchet, Tahoma, Arial, sans-serif - t
Verdana, Geneva, Tahoma, sans-serif - p
Verdana, Tahoma, Geneva, sans-serif - t
*/
/*-- BASELINE -- */
html { font-size: 100%; line-height: 1.625; }

/*-- TEXT --*/
body * + * { margin: 26px 0 0 0; }

h1, h2, h3, h4, h5, h6 { font-family: "Lucida Bright", Georgia, serif; }

.title { font-size: 27px; font-size: 27px; font-size: 1.6875rem; line-height: 0.962962962962963; line-height: 0.96296; color: #f86105; }
.title * { display: block; }

.section__title, .article__music .cms_content h2 { font-size: 20px; font-size: 20px; font-size: 1.25rem; line-height: 1.3; }

h4, .small, .card__tag, .menu__subcategories .cat-item, .site__footer p, .site__footer li, .site__footer a, .article__header .creation, .tagged, .advice--small p, .advice--small li, .advice--small span { font-size: 12px; font-size: 12px; font-size: 0.75rem; line-height: 2.166666666666667; }

p { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

p, ul, ol, li, a, span, blockquote, label, cite { font-family: "Lucida Bright", Georgia, serif; }

ol { counter-reset: li; /* Initiate a counter */ }
ol > li { position: relative; padding-bottom: 25px; padding-left: 26px; }
ol > li:last-child { border-bottom: 0; }
ol > li:before { position: absolute; content: counter(li); /* Use the counter as content */ counter-increment: li; /* Increment the counter by 1 */ margin-left: -26px; }

a { color: #f86105; }

i, em { font-style: italic; }

strong { font-weight: bold; }

sub, sup, .required { /* Specified in % so that the sup/sup is the right size relative to the surrounding text */ font-size: 75%; /* Zero out the line-height so that it doesn't interfere with the positioning that follows */ line-height: 0; /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */ position: relative; }

sup, .required { /* Move the superscripted text up */ top: -0.5em; }

sub { /* Move the subscripted text down, but only half as far down as the superscript moved up */ bottom: -0.25em; }

@media screen and (min-width: 35em) { html { font-size: 112.5%; }
  .title { font-size: 26px; font-size: 1.625rem; line-height: 1; }
  .section__title, .article__music .cms_content h2 { font-size: 22px; font-size: 1.375rem; line-height: 1.181818181818182; }
  h4, .small, .card__tag, .menu__subcategories .cat-item, .site__footer p, .site__footer li, .site__footer a, .article__header .creation, .tagged, .advice--small p, .advice--small li, .advice--small span { font-size: 14px; font-size: 0.875rem; line-height: 1.857142857142857; } }
.group { padding-left: 26px; }

[class*='grid-'] { padding-right: 26px; }

@media screen and (min-width: 640px) { .group { margin-top: 0; padding-left: 2.25rem; }
  .group:before, .group:after { content: " "; display: table; }
  .group:after { clear: both; }
  .group { *zoom: 1; }
  .group--nopadding { padding-left: 0; }
  .group > * { margin-top: 2.25rem; }
  [class*='grid-'] { float: left; padding-right: 2.25rem; }
  .grid-1 { width: 100%; }
  .grid-1-2 { width: 50%; }
  .grid-1-3 { width: 33.33333333333333%; }
  .grid-2-3 { width: 66.66666666666666%; } }
img { max-width: 100%; height: 100%; }

body { background-color: #e9e9e9; background-image: url("../img/bg.png"); }

/* apply a natural box layout model to all elements - http://goo.gl/rBvtqz -  */
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* All links without decoration */
a { text-decoration: none; }

.hide-small { display: none; }

@media screen and (min-width: 40em) { .site__head { padding: 0; }
  .site__description { font-size: 21px; font-size: 1.3125rem; }
  .hide-small { display: inline-block; }
  .hide-med { display: none; } }
@media screen and (min-width: 54.375em) { .page-wrap { padding: 26px; }
  .hide-med { display: inline-block; }
  .hide-large { display: none; } }
@media screen and (min-width: 58.3125em) { .limit-center, .page-wrap { width: 94%; margin: 0 auto; padding: 0; } }
@media screen and (min-width: 66.875em) { .limit-center, .page-wrap { max-width: 60em; }
  .limit-center:before, .limit-center:after, .page-wrap:before, .page-wrap:after { content: " "; display: table; }
  .limit-center:after, .page-wrap:after { clear: both; }
  .limit-center, .page-wrap { *zoom: 1; } }
.h-list-row > *, .menu__subcategories > * { display: inline-block; }

input, select, textarea { font-size: 16px; font-size: 16px; font-size: 1rem; width: 100%; border: 0; padding: 0; line-height: 26px; }

textarea, input { padding-left: 5px; font-family: Helvetica, sans-serif; outline: 3px solid gainsboro; display: block; }
textarea:focus, input:focus { outline: 3px solid #8DCBFF; }

textarea { height: 208px; display: block; }

label { text-indent: 0; text-align: left; }
label ~ * { margin-top: 0; }

.input__submit { cursor: pointer; padding: 26px; display: block; outline: 3px solid white; background-color: gainsboro; }
.input__submit:hover { background-color: #8DCBFF; color: white; }

.required { color: #e40f28; }

.btn { -webkit-box-shadow: inset 0px 0px 0px 1px; box-shadow: inset 0px 0px 0px 1px; display: inline-block; cursor: pointer; }

.btn__primary { padding: 26px; display: block; border-radius: 4px; margin-left: 26px; margin-right: 26px; }
.btn__primary:hover { background-color: #f86105; color: white; }

@media screen and (min-width: 54.375em) { .btn__primary { margin-left: 0; margin-right: 0; } }
.site__head { padding: 5px 5px 0; border-bottom: 5px solid #FF6C12; }
.site__head + * { margin-top: 13px; }

.logo { text-transform: uppercase; text-align: left; display: block; line-height: 1; -webkit-background-clip: text; background-clip: text; text-shadow: rgba(255, 255, 255, .5) 0px 3px 3px; }
.logo span { color: #FF6C12; display: block; line-height: 1; }
.logo .the { font-size: 38px; line-height: 0.8; font-family: 'Arvo', Helvetica, sans-serif; }
.logo .rockery { font-size: 51px; font-family: 'Arvo', Helvetica, sans-serif; font-weight: bold; margin: 0; }

.site__description { font-size: 20px; font-family: 'Arvo', Helvetica, sans-serif; text-transform: uppercase; margin-top: 0; }

@media screen and (min-width: 35em) { .site__head { padding: 1px 0 0; overflow: hidden; }
  .logo { display: inline-block; }
  .logo span { display: inherit; }
  .logo .the { font-size: 30px; margin: 20px -6px 0 0; display: block; float: left; }
  .logo .rockery { font-size: 68px; }
  .site__description { font-size: 19px; text-align: center; } }
.card { text-align: center; overflow: hidden; position: relative; background-color: white; }
.card * { text-shadow: 1px 1px 1px white; text-shadow: 0 1px 0 rgba(255, 255, 255, .4); }
.card__picture { display: block; height: 312px; width: 100%; background-size: cover; background-position: 48%; }
.card__picture img { position: absolute; top: 1px; left: 0px; right: 0px; height: 208px; opacity: 0; }
.card__tag { text-transform: uppercase; color: gainsboro; margin-top: 0; display: inline-block; vertical-align: top; }
.card__tag:after { content: "\2022"; margin: 0 5px; }
.card__tag:hover { color: orange; }
.card__tag:last-child:after { display: none; }

.card__text { padding: 0 26px 26px; }
.card__text p { text-align: left; }

.sticker { background-color: #009ce3; border: 1px solid #B9B8B8; border-top: 0; display: inline-block; color: white; padding: 20px; border-radius: 0 0 50% 50%; margin: 0; position: absolute; top: 0; left: 26px; text-transform: capitalize; }

a.sticker:hover:hover { border-color: white; }

@media screen and (min-width: 40em) { .card { overflow: hidden; padding-bottom: 0; }
  .card .card__picture { height: 286px; }
  .card .card__text { position: relative; height: 260px; }
  .card .card__text:after { background-image: url("../img/gr-to-white.png"); background-repeat: repeat-x; position: absolute; bottom: 0; left: 0; right: 0; content: ""; height: 26px; } }
@media screen and (min-width: 58.3125em) { .card .card__picture { height: 312px; }
  .card .card__text { height: 208px; max-height: 208px; position: relative; } }
/*
.slides { padding: 0; width: 609px; height: 420px; display: block; margin: 0 auto; position: relative;
}

.slides * { user-select: none; -ms-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide { top: 0; opacity: 0; width: 609px; height: 420px; display: block; position: absolute;
 transform: scale(0);
 transition: all .7s ease-in-out;
}

.slide img { width: 100%; height: 100%;
}

.nav label { width: 200px; height: 100%; display: none; position: absolute;

	  opacity: 0; z-index: 9; cursor: pointer;
 transition: opacity .2s;
 color: #FFF; font-size: 156pt; text-align: center; line-height: 380px; font-family: "Varela Round", sans-serif; background-color: rgba(255, 255, 255, .3); text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide { opacity: 1;
 transform: scale(1);
 transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

*/
.slider { overflow: hidden; }
.slider img { max-width: 100%; height: auto; margin-top: 0; display: none; }
.slider input { display: none; }
.slider input:checked + img { display: block; }
.slider input:checked + .slide-container .nav label { display: block; }
.slider__extra-images { clear: both; margin: 0; padding-top: 1px; padding-left: 1px; background-color: #f7f3f0; display: none; }
.slider__extra-images:before, .slider__extra-images:after { content: " "; display: table; }
.slider__extra-images:after { clear: both; }
.slider__extra-images { *zoom: 1; }
.slider__extra-images--thumb { float: left; display: block; margin: 0; width: 50%; }
.slider__extra-images--thumb img { display: block; }
.slider__extra-images--thumb:last-child .slider__extra-images--thumbnail { margin-right: 0; }
.slider__extra-images--thumbnail { margin-right: 1px; }
.slider__extra-images--thumbnail:hover { cursor: pointer; }

@media screen and (min-width: 40em) { .slider { width: 50%; float: right; }
  .slider__extra-images { position: absolute; bottom: 1px; display: block; overflow: hidden; height: 52px; padding-left: 0; } }
.site__description * { font-family: 'Arvo', Helvetica, sans-serif; }
.site__description a { font-family: 'Arvo', Helvetica, sans-serif; color: #1c1a19; }

.switcher a { font-family: 'Arvo', Helvetica, sans-serif; color: #1c1a19; }
.switcher a.selected { color: #1c1a19; }
.switcher a:not(.selected) { color: #f86105; }

.selected { border-bottom: 5px solid #ffbe97; padding-bottom: 4px; position: relative; z-index: 100; }

@media screen and (min-width: 35em) { .selected { padding-bottom: 4px; } }
/*to be change to .site-menu in wp also*/
#site-menu { display: none; }

.menu ul:before, .menu ul:after { content: " "; display: table; }
.menu ul:after { clear: both; }
.menu ul { *zoom: 1; }
.menu > *, .menu + * { margin-top: 0; }
.menu a { color: black; }
.menu .current-menu-item .menu__option, .menu .current-menu-parent .menu__option { /*
border-bottom: 3px solid $foodColor;
//To keep vertical rythm substract the border width
padding-bottom: ($baseline)-3;
*/ color: #FF6C12; border-bottom: 3px solid #FF6C12; padding-bottom: 10px; }
.menu .current-recetas_cat-ancestor .menu__option { border-bottom: 3px solid #FF6C12; padding-bottom: 10px; }
.menu .menu__option { padding-bottom: 13px; display: block; }
.menu .menu__option:hover { border-bottom: 3px solid #FF6C12; padding-bottom: 10px; }
.menu a { display: inline-block; }

.menu__categories { display: -webkit-box; display: -ms-flexbox; display: flex; }

.menu__subcategories { /* This padding is set so the component´s height is divisible by baseline (26) */ padding: 3px 6px 11px; text-align: left; }
.menu__subcategories:empty { display: none; }
.menu__subcategories .cat-item-none { display: none; }
.menu__subcategories .cat-item { display: inline-block; background: #F4F4F4; padding: 3px 10px; border-radius: 3px; margin-top: 3px; margin-right: 6px; -webkit-box-shadow: inset 0px 0px 0px 1px #e8e8e8; box-shadow: inset 0px 0px 0px 1px #e8e8e8; }
.menu__subcategories .cat-item.current-cat a { color: #FF6C12; }
.menu__subcategories .cat-item a { color: inherit; }
.menu__subcategories .cat-item a:hover { color: #FF6C12; }
.menu__subcategories .cat-item:hover { -webkit-box-shadow: inset 0px 0px 0px 1px #FF6C12; box-shadow: inset 0px 0px 0px 1px #FF6C12; color: #FF6C12; }

.menu--combined { display: none; }

@media screen and (min-width: 40em) { .menu--combined { margin-top: 0; display: block; }
  .menu--combined:before, .menu--combined:after { content: " "; display: table; }
  .menu--combined:after { clear: both; }
  .menu--combined { *zoom: 1; }
  .menu--combined ul { width: 50%; display: block; float: left; }
  .menu--combined ul:before, .menu--combined ul:after { content: " "; display: table; }
  .menu--combined ul:after { clear: both; }
  .menu--combined ul { *zoom: 1; }
  .menu--combined li { margin-top: 0; width: 25%; display: block; float: left; }
  .menu--combined + * { margin-top: 0; }
  .menu__categories + *:not(.list) { margin-top: 0; } }
ol li { text-align: left; }

.list { padding-bottom: 26px; }

.list--row { margin-top: 0; }
.list--row:before, .list--row:after { content: " "; display: table; }
.list--row:after { clear: both; }
.list--row { *zoom: 1; }
.list--row li { display: inline-block; padding: 0 26px; margin-left: -26px; }

.list--inline li { display: inline-block; padding: 0 26px; margin-left: -26px; }

@media screen and (min-width: 40em) { .list { margin-top: 0; display: block; }
  .list:before, .list:after { content: " "; display: table; }
  .list:after { clear: both; }
  .list { *zoom: 1; }
  .list li { width: 50%; float: left; margin-top: 26px; }
  .list li:nth-child(1), .list li:nth-child(2) { margin-top: 0; } }
.comments li { padding: 0; }
.comments li:before { display: none; }
.comments p { background-color: white; padding: 26px; }

.comment__commentator { min-height: 104px; overflow: hidden; }
.comment__commentator img { float: left; position: absolute; width: 104px; height: 104px; left: 0; }
.comment__commentator > *:not(img) { display: block; margin-left: 104px; padding-left: 26px; text-align: right; }
.comment__commentator time { margin-top: 0; }

.comment__missaticum { margin-top: 0; -webkit-box-shadow: 0px 5px 0px -1px gainsboro; box-shadow: 0px 5px 0px -1px gainsboro; clear: both; }
.comment__missaticum:before { content: ""; display: block; position: absolute; left: 104px; margin-top: -26px; width: 0; height: 0; border-left: 26px solid white; border-top: 26px solid #e9e9e9; }

.footer__wrapper { padding: 0; }

.site__footer { margin-top: 0; padding: 26px 0; background-color: #464343; color: white; }
.site__footer p, .site__footer li, .site__footer a { text-align: left; }

.site__footer--text { padding: 0 26px; }

.lastWord { padding: 26px; padding-top: 0; text-align: center; font-style: 14px; display: block; }

.footer__ribbon { position: relative; display: block; color: #A2A2A2; margin-top: 0; }
.footer__ribbon:before { position: absolute; content: ""; display: block; top: 47%; background-color: #A2A2A2; height: 1px; width: 100%; }

.socialShare__button { margin-top: 26px; height: 26px; overflow: hidden; padding: 0; text-align: left; }
.socialShare__button * + * { margin-top: auto; }

@media screen and (min-width: 40em) { .footer__ribbon { margin-left: 0; margin-right: 0; } }
@media screen and (min-width: 40em) { .footer__wrapper { margin-top: 52px; padding: 26px 0; background-color: #464343; }
  .site__footer { margin-top: 0; padding: 0; }
  .site__footer + .site__footer { padding-top: 0; } }
[class^=i-] { background-image: url("../img/icons/i.png"); background-repeat: no-repeat; background-size: 100%; display: inline-block; width: 16px; height: 18px; margin-right: 6px; margin-bottom: -4px; }

.i-prepTime { background-image: url("../img/icons/i-time.png"); }

.i-ovenTime { background-image: url("../img/icons/i-ovenTime.png"); }

.i-moldShape { background-image: url("../img/icons/i-moldShape.png"); }

.i-moldSize { background-image: url("../img/icons/i-moldSize.png"); }

.i-peeps { background-image: url("../img/icons/i-peeps.png"); }

.i-facebook { background-color: #3B5998; }
.i-facebook:hover:after { content: "acebook"; display: inline-block; }

.i-google { background-color: #F90101; }
.i-google:hover:after { content: "oogle+"; display: inline-block; }

.i-pinterest { background-color: #cb2027; }
.i-pinterest:hover:after { content: "interest"; display: inline-block; }

.i--where { background-image: url("../img/icons/i-where.png"); }

.title-bar { background: white; margin: 0 13px 0; border-radius: 3px 3px 0 0; }
.title-bar + * { margin-top: 0; }
.title-bar__content { padding: 26px; }
.title-bar__long-desc { display: block; overflow: hidden; }
.title-bar__long-desc--highlight { display: inline-block; text-transform: lowercase; -webkit-animation: highlight-text 1s ease-in-out, pop-bottom 0.8s cubic-bezier(0.39, 0.58, 0.64, 1.33); animation: highlight-text 1s ease-in-out, pop-bottom 0.8s cubic-bezier(0.39, 0.58, 0.64, 1.33); }

@media screen and (min-width: 40em) { .title-bar__content { padding: 26px 0; margin: 0 26px; } }
@media screen and (min-width: 58.3125em) { .title-bar__content { padding: 26px 208px; }
  .title-bar p { padding: 0 26px; } }
@-webkit-keyframes pop-bottom { 0% { -webkit-transform: translateY(100%); transform: translateY(100%); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes pop-bottom { 0% { -webkit-transform: translateY(100%); transform: translateY(100%); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes highlight-text { 0% { color: #FF6C12; }
  50% { color: #FF6C12; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes highlight-text { 0% { color: #FF6C12; }
  50% { color: #FF6C12; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
.article__details { text-align: center; }
.article__details > div { -webkit-box-shadow: inset 0px -4px 0px -3px #d0cacc; box-shadow: inset 0px -4px 0px -3px #d0cacc; background: white; display: inline-block; border-radius: 3px; padding: 0 6px; margin: 0 6px 26px; }
.article__details .easyToDo { color: white; background-color: #009ce3; }

@media screen and (min-width: 40em) { .article__details { float: right; margin-bottom: 0; }
  .article__details > div { display: block; border-radius: 0; text-align: left; padding: 3px 0 3px 13px; margin: 3px 0 0; } }
.ingridients ul { border-radius: 4px 4px 0 0; background-color: #fff6ee; }
.ingridients li { -webkit-box-shadow: inset 0px -4px 0px -3px #d0cacc; box-shadow: inset 0px -4px 0px -3px #d0cacc; color: #666666; padding: 13px 26px 13px; margin: 0; }

.ingridients__selected { background: #F9E7D8; }

@media screen and (min-width: 58.3125em) { .ingridients li:hover { background-color: #FFF0E4; } }
.recipe__notes p + p { text-indent: 0; margin-top: 26px; }

@media screen and (min-width: 40em) { .recipe__notes p { font-size: 16px; line-height: 1.625; } }
.recipe__directions li div { width: 100% !important; }
.recipe__directions img { display: block; margin-top: 26px; }

.switcher__degrees { border: 1px solid gainsboro; border-bottom: 0; background-color: gainsboro; }
.switcher__degrees:before, .switcher__degrees:after { content: " "; display: table; }
.switcher__degrees:after { clear: both; }
.switcher__degrees { *zoom: 1; }
.switcher__degrees input[type="radio"] { display: none; }
.switcher__degrees--label { -webkit-transition: color .5s ease; transition: color .5s ease; color: #868686; margin: 0; display: block; float: left; width: 50%; text-align: center; cursor: pointer; text-shadow: 0 1px 0 rgba(255, 255, 255, .9); }
.switcher__degrees--label:hover { color: #FF6C12; }
input:checked + .switcher__degrees--label { color: black; background-color: white; -webkit-box-shadow: inset 0px -4px 0px -3px #d0cacc; box-shadow: inset 0px -4px 0px -3px #d0cacc; }

.js-temp { -webkit-transition: color .5s ease; transition: color .5s ease; }
.js-temp--animated { -webkit-animation: 2s forwards blink-orange; animation: 2s forwards blink-orange; }

@-webkit-keyframes blink-orange { 0% { color: black; }
  20% { color: #FF6C12; }
  100% { color: black; } }

@keyframes blink-orange { 0% { color: black; }
  20% { color: #FF6C12; }
  100% { color: black; } }
.js-switcher__degrees { color: blue; cursor: pointer; }

.recipe__directions--with-switcher:before, .recipe__directions--with-switcher:after { content: " "; display: table; }
.recipe__directions--with-switcher:after { clear: both; }
.recipe__directions--with-switcher { *zoom: 1; }
.recipe__directions--with-switcher .switcher__degrees { display: none; width: 20%; float: left; margin: 0; margin-top: -1px; }

.also-played { text-align: left; margin-top: 26px; }
.also-played li { display: block; margin-top: 0; }
.also-played--band { position: relative; padding: 0; text-transform: uppercase; margin-top: 0; display: block; text-align: center; }
.also-played--band:after { content: ""; height: 1px; width: 100%; display: block; background: gainsboro; position: absolute; left: 0; }
.also-played--band:link:before { -webkit-transition: width .3s ease; transition: width .3s ease; display: block; content: ""; height: 1px; display: block; background: #FF6C12; position: absolute; bottom: -1px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; z-index: 1; }
.also-played--band:link:hover:before { width: 100%; }

.hidden ~ *:first-of-type { margin-top: 0; }

.article__header { background-color: white; }
.article__header .title, .article__header .subtitle { padding: 0 26px; }
.article__header .creation { padding-bottom: 26px; }

.article__part h2, .article__part p { text-align: left; }

.article__subtitle { background-color: #ffe1cf; padding: 26px; }

.social-share:before, .social-share:after { content: " "; display: table; }
.social-share:after { clear: both; }
.social-share { *zoom: 1; }
.social-share a { width: 33.33333333333333%; display: block; float: left; }

@media screen and (min-width: 40em) { .article__header { position: relative; padding-bottom: 1px; padding-bottom: 52px; }
  .article__header:before, .article__header:after { content: " "; display: table; }
  .article__header:after { clear: both; }
  .article__header { *zoom: 1; }
  .article__header .title, .article__header .subtitle { width: 50%; /*
float: left;
*/ }
  .article__header .subtitle p { font-size: 16px; font-size: 1rem; }
  .article__header .creation { position: absolute; bottom: 1px; width: 50%; padding: 0; margin: 0; border-top: 1px solid white; height: 52px; line-height: 3.25; background-color: #f7f3f0; }
  .article__part--aside { float: right; } }
@media screen and (min-width: 58.3125em) { .single-musica .grid-2-3 { width: 57.17%; }
  .single-musica .grid-1-3 { width: 42.83%; padding-right: 0; } }
.home .section + * { margin-top: 13px; }

@media screen and (min-width: 1335px) { .home .page-wrap { width: 85%; max-width: 85%; }
  .home .section { width: 50%; float: left; }
  .home .footer { clear: left; } }
p.lastSentence { padding: 26px; padding-top: 0; text-align: left; display: block; font-size: 14px; }

.wp-caption-text { display: none; }

.social__links { padding-right: 26px; text-align: left; }
.social__links:before, .social__links:after { content: " "; display: table; }
.social__links:after { clear: both; }
.social__links { *zoom: 1; }
.social__links a { width: 33.33333%; height: 52px; margin-top: 0; color: white; padding-top: 13px; text-indent: 13px; display: block; float: left; }
.social__links a:hover { -webkit-box-shadow: inset 0px 0px 0px 3px white; box-shadow: inset 0px 0px 0px 3px white; }
.social__links .social__links--facebook { background-color: #3c5a99; }
.social__links .social__links--googleplus { background-color: #db4d44; }
.social__links .social__links--pinterest { background-color: #c92129; }

.fb-like { overflow: hidden; width: 98px; height: 20px; border: 0; }

.js-imageInContent { display: table; }

.hidden { display: none; }

.form-allowed-tags { display: none; }

#comment-preview img { display: none; }

.has-embed { overflow: hidden; height: 100%; }

.tagged { background-color: #F7F7F7; padding: 3px 5px; text-transform: uppercase; border-radius: 2px; display: inline-block; font-size: 11px; font-size: 0.6875rem; line-height: 1; border: 1px solid gainsboro; font-family: sans-serif; }

/* This always requires an instanly followed wrapper */
.advice { position: relative; margin-top: 51px; }
.advice > *:first-child { padding: 26px; border-top: 1px solid #afafaf; display: block; }
.advice * { margin-top: 0; }
.advice:before { position: absolute; content: ''; width: 10px; height: 10px; display: block; background-color: gainsboro; border: 1px solid #afafaf; border-radius: 1px; display: inline-block; left: 50%; -webkit-transform: translate(-50%, -50%) skew(-20deg); /* IE 9 */ transform: translate(-50%, -50%) skew(-20deg); top: 0; }
.advice ~ .advice { margin-top: -1px; }
.advice--group > *:first-child:before, .advice--group > *:first-child:after { content: " "; display: table; }
.advice--group > *:first-child:after { clear: both; }
.advice--group > *:first-child { *zoom: 1; }

.related__tags li { margin: 0; display: inline-block; padding: 0 6px; }

.related__card { cursor: pointer; -webkit-box-shadow: 0px 2px 0px -1px gainsboro; box-shadow: 0px 2px 0px -1px gainsboro; }
.related__card p { text-align: center; color: #FF6C12; margin-top: 0; padding: 13px; }
.related__card:hover { background: #FF6C12; }
.related__card:hover p, .related__card:hover a { color: white; }

.related__thumb { height: 130px; display: block; background-size: cover; background-position: 50%; }
.related__thumb img { display: none; }

@media screen and (min-width: 58.3125em) { p.lastSentence { padding: 26px 15%; text-align: center; }
  .tooltip { position: relative; }
  .tooltip:before { display: none; position: absolute; bottom: 100%; left: 100%; -webkit-transform: translate(-2%, 28%); transform: translate(-2%, 28%); content: attr(title); color: gray; border: 1px solid gainsboro; background-color: rgba(255, 255, 255, .8); padding: 6.5px; line-height: 1; }
  .tooltip:after { content: '+'; display: inline-block; }
  .tooltip:hover:before { display: block; display: inline-table; } }
