.site__head {

	padding: 5px 5px 0;
	border-bottom: 5px solid $baseColor;

	* {	
		//text-align: left;
	}
}

.logo {

	text-transform: uppercase;
	text-align: left;
	display: block;
	line-height: 1;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	
	span {
		color: $baseColor;
		display: block;
		line-height: 1;
	}
	
	.the {
		font-size: 38px;
		// font-size: #{38/16}rem;
		line-height: 0.8;
		font-family: 'Arvo', Helvetica, sans-serif;
	}

	.rockery {
		font-size: 51px;
		//font-size: #{58/16}rem;
		font-family: 'Arvo', Helvetica, sans-serif;
		font-weight: bold;
		margin: 0;
	}
}

.site__description {

	font-size: 20px;
	// font-size: #{20/16}rem;

	font-family: 'Arvo', Helvetica, sans-serif;
	text-transform: uppercase;
	margin-top: 0;
}

@media screen and (min-width: $preTablet) {

	.site__head {

		padding: 1px 0 0;
		overflow: hidden;
	}

	.logo {

		display: inline-block;

		span {
			display: inherit;
		}

		.the {
			font-size: 30px;
			// @include fontSize(30px);
			margin: 20px -6px 0 0;
			display: block;
			float: left;
		}

		.rockery {
			font-size: 68px;
			// @include fontSize(60px);
		}
	}

	.site__description {
		font-size: 19px;
		// @include fontSize(19px);
		text-align: center;
	}
}
