.ingridients {
	padding-bottom: 2rem;
	ul {
		@include border-radius(4px);
		background-color: #fff6ee;
		padding: 1rem 1rem 1.1rem;
	}

	li {
		@include font-size(1.4);
		border-bottom: 1px solid rgb(208, 202, 204);	
		color: rgb(102, 102, 102);
	}
}