$preTablet: 35em; /* 560px/16px = 35em */
$tablet: 40em; /*640px/16px = 38.75em*/
$preDesktop: 54.375em; // 870/16px
$desktop: 58.3125em; //933/16px
$afterDesktop: 66.875em; // 1070px / 16px
$panoramic: 1612px;
