.also-played {
	text-align: left;
	margin-top:$baseline;	

	li {
		display: block;
		margin-top: 0;	
	}

	&--band {
	position: relative;
		padding: 0;
		text-transform: uppercase;
		margin-top: 0;
		display: block;
		text-align: center;
		
		&:after {
			content: "";
			height: 1px;
			width: 100%;
			display: block;
			background: gainsboro;
			position: absolute;
			left: 0;
		}

		&:link {
			&:before {
				transition: width .3s ease;
				display: block;
				content: "";
				height: 1px;
				display: block;
				background: $baseColor;
				position: absolute;
				bottom: -1px;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				z-index: 1;
			}

			&:hover:before {
				width: 100%;
			}
		}
	}
} 