/*-- FONTS --*/
// @import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
// @import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,700);

/* Font stack options FROM HTML5 BOILERPLATE
	The following represents a list of font stacks, as recommended by Nathan Ford in
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
	I've added inverted commas around the relevant family names to ensure compatibility.
	p = balanced for paragraphs or body copy
	t = balanced for headlines or titles
	- - - -
Arial, "Helvetica Neue", Helvetica, sans-serif - p, t
Baskerville, "Times New Roman", Times, serif - p
Baskerville, "Times, Times New Roman", serif - t
Cambria, Georgia, Times, "Times New Roman", serif - p, t
"Century Gothic", "Apple Gothic", sans-serif - p, t
Consolas, "Lucida Console", Monaco, monospace - p, t
"Copperplate Light", "Copperplate Gothic Light", serif - p, t
"Courier New", Courier, monospace - p, t
"Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif - p, t
Futura, "Century Gothic", "Apple Gothic", sans-serif - p, t
Garamond, "Hoefler Text", "Times New Roman", Times, serif - p
Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif - t
Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif - p
Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - t
Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif - p
Georgia, Times, "Times New Roman", serif - t
GillSans, Calibri, Trebuchet, sans-serif - p
GillSans, Trebuchet, Calibri, sans-serif - t
"Helvetica Neue", Arial, Helvetica, sans-serif - p
Helvetica, "Helvetica Neue", Arial, sans-serif - t
Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif - p, t
"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - p, t
Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif - p
Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif - t
Tahoma, Geneva, Verdana - p
Tahoma, Verdana, Geneva - t
Times, "Times New Roman", Georgia, serif - p, t
Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif - p
Trebuchet, Tahoma, Arial, sans-serif - t
Verdana, Geneva, Tahoma, sans-serif - p
Verdana, Tahoma, Geneva, sans-serif - t
*/

/*-- BASELINE -- */
// In order to create a vertical rythm all distances 
// (padding and margin) have to be multiple to baseline
$baseline: 26px;

html {
	font-size: 100%;
	line-height: (26/16);
}

/*-- TEXT --*/
body {
	
	* {
	//	color: $textColor;
	}

	* + * {
		margin: $baseline 0 0 0;
	}

	p + p {
		// text-indent: 2em;
		// margin-top: 0;
	}
}

h1,h2,h3,h4,h5,h6 {
	// font-family: 'Noticia Text', Georgia, sans-serif;
	font-family:  "Lucida Bright", Georgia, serif;
}
 
.title {
	font-size: 27px;
	font-size: #{(27/16)}rem;
	line-height: ($baseline/27px);
	line-height: calc(26/27);
	color: $link;

	//Force links to be same dimensions
	* {
		display: block;
	}
}

//previous h2
.section__title {
	font-size: 20px;
	font-size: #{(20/16)}rem;
	line-height: ($baseline/20px);	
}


h4,
.small {
	font-size: 12px;
	font-size: #{(12/16)}rem;
	line-height: ($baseline/12px);
}

p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

p, ul, ol, li, a, span, blockquote, label, cite {
	// font-family: 'Noticia Text', Georgia, serif;
	font-family:  "Lucida Bright", Georgia, serif;
}

ol {
	counter-reset: li; /* Initiate a counter */

	& > li {
	position: relative;
		padding-bottom: ($baseline)-1;
		padding-left: $baseline;

		&:last-child {
			border-bottom: 0;
		}

		&:before {
	position: absolute;
			content:counter(li); /* Use the counter as content */
			counter-increment:li; /* Increment the counter by 1 */
			margin-left: -$baseline;
		}
	}
}

a {
	color: $link;
}

i, em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}


@media screen and (min-width: $preTablet) {

	html {
		font-size: 112.5%;
	}


	.title {
		font-size: 26px;
		font-size: #{(26/16)}rem;
		line-height: (($baseline)/26px);
	}

	p {
	
		//font-size: #{(18/16)}rem;
		// line-height: calc(26/18);
		// line-height: 1.8;
	}

	.section__title {
		font-size: 22px;
		font-size: #{(22/16)}rem;
		line-height: ($baseline/22px);
	}

	h4,
	.small {
		font-size: 14px;
		font-size: #{(14/16)}rem;
		line-height: ($baseline/14px);
	}

}