.btn {
	//border-bottom: 1px solid;
	//simulate borders with box-shadow to prevent the vertical rhtyhm to break with borders
	-webkit-box-shadow: inset 0px 0px 0px 1px;
	-moz-box-shadow: inset 0px 0px 0px 1px;
	box-shadow: inset 0px 0px 0px 1px;
	
	display: inline-block;
	cursor: pointer;
}

.btn__primary {
	padding: $baseline;
	display: block;
	border-radius: 4px;
	//margin: 0 $baseline;
	margin-left: $baseline;
	margin-right: $baseline;

	&:hover {
		background-color: $link;
		color: white;
	}
}

@media screen and (min-width: $preDesktop) {
	.btn__primary {
		margin-left: 0;
		margin-right: 0;
	}
}