.logo {

	text-transform: uppercase;
	text-align: left;
	
	display: block;
	line-height: 1;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	font-size: 2.5rem;
	color: $baseColor;
	
	display: flex;
	align-items: center;
	justify-content: flex-start;


	* {
		margin: 0;
	}

	span.the {
		font-size: 1.5rem;
	}
	span.rockery {
		font-weight: bold;
	}
}

.site__description {
	
	text-transform: uppercase;
	margin-top: 0;
}

@media screen and (min-width: $preTablet) {

	.site__head {

		padding: 1px 0 0;
		overflow: hidden;
	}

	.logo {

		display: inline-block;

		span {
			display: inherit;
		}

		.the {
			// font-size: 30px;
			// @include fontSize(30px);
			margin: 20px -6px 0 0;
			display: block;
			float: left;
		}

		.rockery {
			// font-size: 68px;
			// @include fontSize(60px);
		}
	}

	.site__description {
		// font-size: 19px;
		// @include fontSize(19px);
		text-align: center;
	}
}
