.logo {

	text-transform: uppercase;
	text-align: left;
	
	display: block;
	line-height: 1;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	font-size: 2.2rem;
	color: $baseColor;

	display: flex;
	align-items: center;

	* {
		margin: 0;
		flex: 0;
	}

	span.the {
		font-size: 1.2rem;
	}
	span.rockery {
		font-weight: bold;
	}
}

@media screen and (min-width: $preTablet) {

	.logo {

		display: inline-block;

		span {
			display: inherit;
		}

		.the {
			// font-size: 30px;
			// @include fontSize(30px);
			margin: 20px -6px 0 0;
			display: block;
			float: left;
		}

		.rockery {
			// font-size: 68px;
			// @include fontSize(60px);
		}
	}
}
