/*to be change to .site-menu in wp also*/
#site-menu {
	display: none;
}

.menu {
	
	ul {
		@include cf;
	}

	& > *,
	& + * {
		margin-top: 0;
	}
	
	a {
		color: black;
	}
	
	.current-menu-item .menu__option,	
	.current-menu-parent .menu__option {
		/*
		border-bottom: 3px solid $foodColor;
		//To keep vertical rythm substract the border width
		padding-bottom: ($baseline)-3;
		*/
		color: $baseColor;
		border-bottom: 3px solid $baseColor;
		padding-bottom: ($baseline/2)-3;
	}
	
	.current-recetas_cat-ancestor .menu__option {
		border-bottom: 3px solid $baseColor;
		padding-bottom: ($baseline/2)-3;	
	}

	.menu__option {
		padding-bottom: $baseline/2;
		display: block;

		&:hover {
			border-bottom: 3px solid $baseColor;
			padding-bottom: ($baseline/2)-3;
		}
	}

	a {
		display: inline-block;
	}
}

.menu__categories {
	margin-top: ($baseline/2);
	overflow: auto;
	
	[class^="menu-"] {
		white-space: nowrap;
	}

	li {
		margin-top: 0;
		width: auto;
		display: inline-block;
		padding: 0 $baseline/2;
		content: 'hello';
	}
}

.menu__subcategories {
	
	@extend .h-list-row;
	/* This padding is set so the component´s height is divisible by baseline (26) */ 
	padding: 3px 6px 11px;
	text-align: left;

	&:empty{
		// don´t display this element if is empty
		// php shouldn´t be displaying it but is not yet accomplished
		display: none;
	}

	.cat-item-none {
		display: none;
	}

	.cat-item {
		@extend .small;
		display: inline-block;
		background: #F4F4F4;
		padding: 3px 10px;
		border-radius: 3px;
		margin-top: 3px;
		margin-right: 6px;

		box-shadow: inset 0px 0px 0px 1px #e8e8e8;
		
		&.current-cat {
			// box-shadow: inset 0px 0px 0px 1px $baseColor;

			a {
				color: $baseColor;
			}	
		} 

		

		a {
			color: inherit;

			&:hover {
				color: $baseColor;
			}
		}

		&:hover {
			box-shadow: inset 0px 0px 0px 1px $baseColor;
			color: $baseColor;
		}
	}
}

.menu--combined {
	display: none;
}


@media screen and (min-width: $tablet) {
	.menu--combined {
		@include cf;
		margin-top: 0;
		display: block;
		
		ul {
			@include cf;
			width: 50%;
			display: block;
			float: left;
		}
		
		li {
			margin-top: 0;
			width: 1/4*100%;
			display: block;
			float: left;
		}

		& + * {
			margin-top: 0;
		}
	}

	.menu__categories {

		& + *:not(.list) {
			margin-top: 0;
		}
	}
}