/*to be change to .site-menu in wp also*/

.site-menu {
	// background-color: #f1f1f1;

	[class*="menu-"] { // class that starts with
		display: flex;
		padding-top: $baseline/2;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	[class*="menu-item"] {
		margin-top: 0;

		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		flex-grow: 1;
		flex-basis: 100%;

		a {
			display: flex;
			flex-grow: 1;
			flex-basis: 100%;
		}
	}
}
